@font-face {
    font-family: 'Kodchasan';
    src: url('resources/fonts/Kodchasan-Regular.ttf');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #aaa;
    background-image: url("resources/connectwork.png");
    max-width: 1600px;
    text-align: center;
}

main {
    word-wrap: break-word;
}


.flex-container {
    display: flex; /* use flexbox for the entire layout of the page */
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
}

.flex-item {
    margin: 15px;
    min-width: 0;
}

header.flex-item {
    flex: 1 0 100%;
}

aside.flex-item {
    order: 0;
    max-width: 350px;
    flex: 0 1 50%;
}

main.flex-item {
    order: 1;
    flex: 0 1 50%;
}

footer.flex-item {
    order: 2;
    flex: 1 0 auto;
}

aside nav ul {
    margin: 20px;
}

nav ul {
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    color: rgb(48, 175, 248);
    background-color: #555;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px #aaa;
}

nav li a:hover {
    background-color: #000;
}

nav li a:active {
    /* background-color: transparent; */
    box-shadow: none;
}

/* .sticky-container {
    position: absolute;
} */

.sticky {
    position: sticky;
    top: 10px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kodchasan';
}

/* main, // removed, in order to properly solve this homework's tasks*/
footer {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
    opacity: 0.7;
}

.section-bg-change {
    background-color: rgba(85, 1, 1, 0.6);
}